<configuration>
    <property name="DEFAULT_LOG_PATTERN"
        value="%msg%n" />
    <property name="log_dir" value="/sdcard/proton/log" />
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{50}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>${DEFAULT_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
   <!-- <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_dir}/proton-%d{yyyy-MM-dd}-%i.log</FileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>-->

    <root level="INFO">
        <appender-ref ref="logcat" />
        <appender-ref ref="file" />
    </root>
</configuration>